@use '/src/variables.scss' as *;

.select{
  all: unset;
  cursor: pointer;
  background-color: $blue-color;
  padding: 10px;
  border-radius: $br-small;
  text-align: center;
}
.option{
  color: $dark-blue-color;
  background-color: $white-color;
}