@use '/src/variables' as *;

.projects{
  @include block-styles;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.project{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainInfo{
  display: flex;
  justify-content: space-between;
}

.projectsTable{
  display: grid;
  grid-gap : 20px;
}

.error {
  color: red;
  font-size: 14px;
}